body {
	background-color:#E6E6FA;
}
h2 {
	background-color:#E6E6FA; 
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}
td {
  text-align: center;
}
#container{
	background-color:#FFFAFA;
	width:1200px;
	margin-left: auto;
	margin-right: auto;
}
#header {
	background: black; 
	color:white; 
	text-align: center;
}
#footer {
	text-align: center;
	background-color: grey;
	color:white;
}
#pp img {
	align-items: flex-end;
	border-radius: 50%;
}